<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex justify-content-center pb-3">
                <div class="pr-3">Select a parking lot</div>
                <select [(ngModel)]="CurrentLot" (change)=getCurrentLot()>
                    <option *ngFor="let lot of ParkingLots">{{ lot }}</option>
                </select>
            </div>
            <form (submit)=updateUsers()>
                <h3 class="d-flex justify-content-center">
                    Capacity: {{ capacity }}
                </h3>
                <h3 class="d-flex justify-content-center">
                    Max Capacity: {{ maxCapacity }}
                </h3>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success" type="submit">Update</button>
                </div>

            </form>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h3>
                        Registered
                    </h3>
                </div>
                <div class="col-md-12 d-flex justify-content-center pb-3">
                    <div>
                        <button class="btn btn-danger" (click)="deleteEntry()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">License Plate</th>
                </tr>
                <tbody *ngFor="let user of users">
                    <td><input type="checkbox" (change)="addEntryToList(user)"></td>
                    <td>{{ user }}</td>
                </tbody>
            </table>


        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h3>
                        Unregistered
                    </h3>
                </div>
                <div class="col-md-12 d-flex justify-content-center pb-3">
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">License Plate</th>
                </tr>
                <tbody *ngFor="let unknown of unknownUsers">
                    <td><input type="checkbox" (change)="addUnknownToList(unknown)"></td>
                    <td>{{ unknown }}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>