/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #b1dfb0;
    font-family: 'Rubik', sans-serif;
}

.jumbotron {
    background-image: url('./cars.jpg');
    background-size: cover;
}

#mainTitle {
    color: white;
    font-size: 69px;
    text-decoration: underline overline;
}

/* hr {
    border: 1.5px solid #eecd02;
} */