/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #c4c4c4;
    font-family: 'Rubik', sans-serif;
}

.jumbotron {
    background-color: #7b7b7b;
}

#mainTitle {
    color: white;
}