<form (submit)="Register()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-3">
                <label class="pr-3">Phone Number</label>

                <input type="tel" name="phone" [(ngModel)]="user.phone">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-3">
                <label class="pr-3">License Plate</label>
                <input type="text" name="plate" [(ngModel)]="user.plate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-3">
                <button type="submit">Submit</button>

            </div>
        </div>
    </div>


</form>